body {
    background-color: darkslateblue;
	margin:0;
	overflow: hidden;
	font-family: 'Ubuntu', sans-serif;
    color: white;

}

#leia-salute-wrap{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-wrap: wrap;
	gap: 2rem;

	
}

#salutation-wrap{

	text-align: center;

}

#leia-cute-wrap img{
	border: 4px solid white;
	max-width: 100%;
	width: 20dvw;
	height: auto;
}

#pets-wrap {
	display:flex;
	justify-content: center;
	align-items:center;
	height: 10dvh;
	width: 10dvw;
	gap: 2dvi;
}

